body {
  background-color: #c0b0d1;
  color: #545454;
}

hr {
  border-style: dotted;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 7px;
  border-color: rgb(0, 0, 0);
  width: 5%;
}

.ARMKUNG{
  background-color: palevioletred;
}

#game{
  color: #750e9e;
}

img {
  height: 150px;
}

h1 {
  color: #0f1a59;
}

h3 {
  color: #0b0d44;
}
